body.nonograms
  canvas
    cursor: pointer

body.nonograms.index
  tr.nonogram
    cursor: pointer
    span.dimensions
      font-size: 0.8em

body.nonograms.show
  table.master
    width: 100%
    margin: 0 auto
    text-align: center
    td
      padding: 0
    td.col_clues
      table
        margin: 0 auto
        td
          vertical-align: bottom
          span.clue
            display: block
    td.row_clues
      vertical-align: top
      table
        text-align: right
        td
          vertical-align: middle
          span.clue
            display: inline-block
            margin: 0 4px
            position: relative
            top: 2px
    td.canvas
      text-align: left
      vertical-align: top

body.nonograms.new
  select
    width: inherit
  form
    margin: 0
