:javascript
  var cellStatus = "#{@nonogram.data.to_json}";
  var nonogramPath = "#{url_for @nonogram}";

%ul.breadcrumb
  %li
    = link_to 'Home', root_path
    %span.divider= '|'
  %li
    = link_to 'Nonograms', nonograms_path
    %span.divider= '|'
  %li.active= 'Edit ' + @nonogram.name

.align-center
  .well.form-inline.container
    = simple_form_for @nonogram do |n|
      = n.input :name
    = button_tag 'Save', :id => :save, :class => 'btn btn-small btn-primary'
  %canvas#nonogram
    NOT SUPPORTED WITH THIS BROWSER
