%h6.align-center
  To learn about nonograms, visit the wiki page
  = link_to 'here', 'http://en.wikipedia.org/wiki/Nonogram', :target => '_blank'

= link_to new_nonogram_path do
  .btn.btn-primary New Nonogram

%table.table
  %thead
    %tr
      %th Name
      %th
  %tbody
    - @nonograms.each do |nonogram|
      %tr.nonogram{:data => { :url => url_for(nonogram) }}
        %td
          = nonogram.name
          %span.dimensions= "(#{nonogram.width}x#{nonogram.height})"
        %td.align-right
          = link_to edit_nonogram_path(nonogram) do
            %button.btn{ :title => 'Edit'}
              %i.icon-edit
          = link_to nonogram, :method => :delete, :data => { :confirm => "Are you sure you want to delete #{nonogram.name}?" } do
            %button.btn{ :title => 'Delete'}
              %i.icon-remove
