:javascript
  var nonogramsPath = "#{nonograms_path}"
- size_options = (5..50).step(5)

%ul.breadcrumb
  %li
    = link_to 'Home', root_path
    %span.divider= '|'
  %li
    = link_to 'Nonograms', nonograms_path
    %span.divider= '|'
  %li.active= 'New Nonogram'

.align-center
  .well.form-inline.container
    .row
      .span6
        %h4 Convert an image
        = render 'layouts/validation_errors', :object => @nonogram
        = simple_form_for :nonogram, :url => nonograms_image_path, :multipart => true do |f|
          %h6 Images get resized to no bigger than 50 pixels and converted to 2 colors (black & white) so don't expect much!  Use simple images with a good balance of dark and light.  Anything mostly white will be near impossible, and anything too dark will be too easy.  Line drawings work best.
          = f.input :image, :as => :file, :required => false
          = f.submit 'Convert Image', :class => 'btn btn-info'
      .span6
        %h4 Or draw your own!
        %h6 Changing the size of the board, will clear all cells!
        %div
          = label_tag :nonogram_width, 'Width'
          = select_tag :nonogram_width, options_from_collection_for_select(size_options, :to_s, :to_s, 20)
          = label_tag :nonogram_height, 'Height'
          = select_tag :nonogram_height, options_from_collection_for_select(size_options, :to_s, :to_s, 10)
        %br
        = simple_form_for @nonogram do |n|
          = n.input :name
        = button_tag 'Save', :id => :save, :class => 'btn btn-small btn-primary'
  %canvas#nonogram
    NOT SUPPORTED WITH THIS BROWSER
