:javascript
  var nonogram_id = '#{@nonogram.id}';
  var nonogram_name = '#{@nonogram.name}';
  var cell_status = '#{@nonogram.data.to_json}';

%ul.breadcrumb
  %li
    = link_to 'Home', root_path
    %span.divider= '|'
  %li
    = link_to 'Nonograms', nonograms_path
    %span.divider= '|'
  %li.active.name ???

.well.form-inline.align-center
  = button_tag 'Save Progress', :id => :save, :class => 'btn btn-small btn-primary'
  = button_tag 'Check for Errors', :id => :error_check, :class => 'btn btn-small btn-info'
  = button_tag 'Reset', :id => :reset, :class => 'btn btn-small btn-warning'

%table.master
  %tr
    %td
    %td.col_clues
      %table
        %tr
          - @clues[:col].each do |col|
            %td
              - col.each do |clue|
                %span.clue= clue
  %tr
    %td.row_clues
      %table
        - @clues[:row].each do |row|
          %tr
            %td
              - row.each do |clue|
                %span.clue= clue
    %td.canvas
      %canvas#nonogram
