.ascii
  font-family: monospace
  text-align: center
  white-space: pre
  line-height: 0.5em
  padding-top: 0.5em

.align-center
  text-align: center !important
.align-right
  text-align: right !important
