@import compass
@import common
@import vendor_mods

body
  .header
    margin: 20px 0
    a
      text-decoration: none
      color: black
    font-weight: bold
  .flash
    >div
      text-align: center
      margin: 10px 0
      padding: 10px
      color: white
      background-color: grey
      &.success
        background-color: green
      &.error
        background-color: red
  .content
    margin: 20px
