!!! 5
%html{ :lang => 'en' }
  %head
    %title PUZZLER
    = stylesheet_link_tag :application
    = yield :css
    = javascript_include_tag :application
    = view_asset :js
    = yield :js
    = csrf_meta_tags
  %body{ :class => body_class }
    .header= link_to ascii("PUZZLER"), root_path
    .flash= render_flash
    .content
      = yield
